/*
    ACCORDION STRUCTURE / LAYOUT (open/closed states, borders, heights)
*/
/* 
    ALL closed by default
*/
/*.leftSection {
    max-height: 0;
}
.leftSection.active {
    max-height: 46px;
}
.leftSection.expanded {
    max-height: 100%;
}

#leftSection-ship.expanded,
#leftSection-port.expanded {
    min-width: 280px;
}
#leftSection-predictions.expanded {
    min-width: 350px;
}

.leftSection h2 {
    color:#fff;
}*/


/*
    always show SEARCH
*/
/*#leftSection-search {
    min-height: 46px !important;
}*/
/*  
    open ONE SECTION
*/
/*#leftColumn.show-search #leftSection-search {
    max-height: 100%;
    border-bottom: solid 1px #4b4f54;
}
#leftColumn.show-predictions #leftSection-predictions {
    max-height: 100%;
    border-top: solid 1px #4b4f54;
}
#leftColumn.show-find #leftSection-find {
    max-height: 100%;
    border-top: solid 1px #4b4f54;
}
#leftColumn.show-ship #leftSection-ship {
    max-height: 100%;
    border-top: solid 1px #4b4f54;
    border-bottom: solid 1px #4b4f54;
}
#leftColumn.show-port #leftSection-port {
    max-height: 100%;
    border-top: solid 1px #4b4f54;
    border-bottom: solid 1px #4b4f54;
}
#leftColumn.show-metrics #leftSection-metrics {
    max-height: 100%;
    border-top: solid 1px #4b4f54;
    border-bottom: solid 1px #4b4f54;
}*/
/* 
    except when closed 
*/
/*#leftColumn.show-metrics #leftSection-port {
    max-height: 46px;
}
#leftColumn.show-predictions #leftSection-ship {
    min-height:46px;
    border-top: solid 1px #4b4f54;
}
#leftColumn.show-port.show-predictions #leftSection-predictions {
    max-height:46px;
}*/







/*
    EXTRAS (widths, x button)
*/


