html {
  --color-darkness: hsl(212, 27%, 10%);
  --color-map: #a8d3df;
  --color-map-dark: hsla(205, 100%, 25%, 0.66);
  --color-map-dark-transparent: hsla(205, 100%, 25%, 0.33);
  --color-ship: #00cc00;
  --color-port: #ff8c00;
  --color-country: hsl(200, 63%, 60%);
  --color-vessel-density: "#ffcad4";
}

/* ---------------------------------------------------
    STYLES 
    (color, background, font, etc.)
----------------------------------------------------- */

html,
body {
  background: black;
  overflow: hidden;
  margin: 0;
}
html {
  font-size: 15px;
  background: var(--color-darkness);
}
body {
  /* style */
  font-family: sans-serif;
  background: var(--color-darkness);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1rem;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
h3 {
  font-size: 21px;
}
label {
  margin-bottom:1px;
}
a.bl._hide {
    color: tomato;
}
a.bl._show {
    color: hsla(205, 10%, 90%, 0.5); 
}
button.bl._hide {
    background: tomato;
    color: #fff;
    border-color: #fff;
}
button.bl._show {
    background: hsla(205, 10%, 90%, 0.5); 
}
input, select, textarea {
  color:#666;
}
.x {
  cursor:pointer;
  width:25px;
  height:25px;
  background:transparent;
}
.x::before,
.x::after {
    content: "";
    display: block;
    height: 20px;
    width: 1px;
    background: #fff;
    position: absolute;
    left: 10px;
    top: 5px;
    text-shadow: 0 0 1px #fff;
    transform: rotate(45deg);
}
.x::after {
    transform: rotate(-45deg);
}
/*._hide {
  display:none;
}
._show,
.visible {
  display:block;
}*/

/* ---------------------------------------------------
  LAYOUT
--------------------------------------------------- */
#__next {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
#appContent {
  display: flex;
  height: calc(100vh - 46px);
  flex-grow: 1;
}

/* ---------------------------------------------------
    BOOTSTRAP OVERIDE
    * need refactoring - take overrides from other places, including later in this document, and put them in this section
----------------------------------------------------- */
#__next .bootstrap-tagsinput {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2px;
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput {
  padding: 3px 6px !important;
}
.bootstrap-tagsinput input {
  padding: 0 4px !important;
}
.popover {
  color:slategrey;
}
@media (min-width: 768px) {
  .modal-dialog {
      width: 688px;
      margin: 88px auto;
  }
}
/* ---------------------------------------------------
  BL THEME 
--------------------------------------------------- */
/* placeholders are dumb, can't be comma separated. Still need prefixes. */
::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999 !important;
}
placeholder {
  color: #999;
}
/* form elements: */
input:focus,
button:focus,
textarea:focus,
*.bl:focus {
  outline: none !important;
  box-shadow: none;
}
input.bl {
  color: #666;
  border: none;
  border-radius: 3px;
  margin: 1px;
  padding: 6px 4px 6px 12px;
  font-size: 1rem;
}
button.bl {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
  background: #999;
  color: #fff;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  line-height: 1rem;
  font-size: 1rem;
  padding: 7px 8px 8px;
  margin: 2px 6px 3px 0;
  font-weight: bold;
  cursor: pointer;
}
button.bl:hover {
  opacity: 0.75;
}
button.bl:focus {
  position: relative;
  top: 2px;
  opacity: 0.5;
}
button.bl.--ship {
  background: var(--color-ship);
  /*border: solid 1px var(--color-ship);*/
}
button.bl.--port {
  background: var(--color-port);
  /*border: solid 1px var(--color-port);*/
}
.errorText {
  color: hsl(0, 100%, 75%);
}
.errorBlock {
  color: #fff;
  background: hsl(0, 100%, 75%);
}
span.map-icon-xl {
  height: 22px;
  width: auto;
  color:#fff;
  height: 22px;
  width: 22px;
  display:inline-block;
  background: #999;
  line-height: 22px !important;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  margin-right: 5px;
}
span.map-icon-xl.icon-ship {
  background: var(--color-ship);
  font-size: 14px;
}
span.map-icon-xl.icon-port {
  background: var(--color-port);
  font-size: 15px;
}

#test_ship_svg {
  display: block;
  position: fixed;
  top: 20vh;
  right: 7vw;
  height: 23px;
  width: 23px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  filter: blur(0.5px);
  border: solid 0.48px white;
  box-sizing: border-box;
}
#test_ship_svg path {
  fill: #00cc00;
}

#test_port_svg {
  display: block;
  position: fixed;
  top: 30vh;
  right: 9vw;
  height: 23px;
  width: 23px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  filter: blur(0.5px);
  border: solid 0.48px white;
  box-sizing: border-box;
}
#test_port_svg path {
  fill: darkorange;
}

.ol-full-screen {
  display: none !important;
}

/*
    PLOTLY CSS
    *
    *
        IMPORTANT:
        * First 3 style blocks are required to make plotly 100% width and height. Also, this fix requires the Javascript code: 1) See window resize event handler; 2) Must run that window resize handler function once on page load, to initially resize to full height. Plotly will not just fill 100% width/height automatically without that Plotly.resize() method.
        * The parent of .plotlyResponsive must have a "position" and some type of height. It does not need to be statically and explicitly set height - it can be flexible. But, it needs some height for .plotlyResponsive to fill 100% of.
        * FInally, this is a weird selector: `.plotlyResponsive > div .plot-container`. It does not work with a className selector, like this: `.plotlyResponsive .plotlyChart .plot-container`. However, it does work with an attribute slector, like this: `.plotlyResponsive [plotly-responsive-directive] .plot-container`;
        * This must be carefully tested on each Browser and OS. Do not assume it will work on a different device or browser. 
    *
    *
*/
.plotlyResponsive {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.plotlyResponsive > div {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.plotlyResponsive > div .plot-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*
    THIS IS OPTIONAL:
    Because that top bar with little buttons is ugly, unsightly. This way, it is still there, but only appears if you mouse-over its space.
*/
.plotlyResponsive .modebar {
  opacity: 0;
  padding: 3px;
  margin: -6px 0;
}
.plotlyResponsive .modebar:hover {
  opacity: 1;
}

/* 
  LOADING ANIMATIONS
*/
@keyframes pageLoaderSpin_one {
  0% {
    transform: rotate(360deg);
  }
  70% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pageLoaderSpin_two {
  0% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pageLoaderSpin_three {
  0% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pageLoaderSpin_four {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.pageLoader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index:100000;
}
body.mapLoading .pageLoader {
    display: flex;
}
.pageLoaderTitle {
  color:#fff;
  font-size:1.1rem;
  line-height:1.1rem;
  font-weight:600;
  position:absolute;
  text-align:center;
}
.pageLoaderElement {
  position:absolute;
  text-decoration: none;
  color: #ffffff;
  width: 0;
  height: 0;
  margin: 0 auto;
}
.pageLoaderElement::before,
.pageLoaderElement::after {
  content: "";
  position:absolute;
  left: -0.6rem;
  transform: rotate(180deg);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
.pageLoaderElement::before {
  top: -4.3rem;
}
.pageLoaderElement::after {
  top: 3.3rem;
}
.pageLoaderElement.__1 {
  animation: pageLoaderSpin_one 2s infinite;
}
.pageLoaderElement.__1::before,
.pageLoaderElement.__1::after {
  background: hsla(120, 100%, 40%,1);
}
.pageLoaderElement.__2 {
  animation: pageLoaderSpin_two 2s infinite;
}
.pageLoaderElement.__2::before,
.pageLoaderElement.__2::after {
  background: hsla(120, 100%, 40%,0.66);
}
.pageLoaderElement.__3 {
  animation: pageLoaderSpin_three 2s infinite;
}
.pageLoaderElement.__3::before,
.pageLoaderElement.__3::after {
  background: hsla(120, 100%, 40%,0.44);
}
.pageLoaderElement.__4 {
  animation: pageLoaderSpin_four 2s infinite;
}
.pageLoaderElement.__4::before,
.pageLoaderElement.__4::after {
  background: hsla(120, 100%, 40%,0.11);
}

/*
  SHIP INFO
  PORT INFO
  PORT PREDICTIONS
*/
._ifOpened {
  display:none;
}

/*
    Port Threshold
*/
body.show-portThreshold .show-portThreshold ._ifNotOpened {
    display: none;
}
body.show-portThreshold .show-portThreshold ._ifOpened {
    display: block;
}

/*
    Current Journey
*/
body.show-currentJourney .show-currentJourney ._ifNotOpened {
    display: none;
}
body.show-currentJourney .show-currentJourney ._ifOpened {
    display: block;
}

/*
    Past Journeys
*/
body.show-pastJourneys .show-pastJourneys ._ifNotOpened {
    display: none;
}
body.show-pastJourneys .show-pastJourneys ._ifOpened {
    display: block;
}

/* 
    Port Prediction
*/
body.show-portPredictions .show-portPredictions ._ifNotOpened {
    display: none;
}
body.show-portPredictions .show-portPredictions ._ifOpened {
    display: block;
}

/*
    More detailed
*/
/*.port-threshold-form ._ifOpened {
    display: none;
}
.port-threshold-form._isOpened._threshold ._ifOpened._threshold {
    display: block;
}
.port-threshold-form._isOpened._threshold ._ifNotOpened._threshold {
    display: none;
}*/

/*
    Port Prediction Colors
*/

#port-prediction-heading h5 {
    position: relative;
    cursor: pointer;
    height: 40px;
    left: 26px;
    padding: 3px 0 0 0;
}
#port-prediction-heading h5 .text {
  font-size: 1rem;
}
#port-prediction-heading h5 img {
    height: 22px;
    width: auto;
    position: absolute;
    left: -26px;
    top: 0;
}
#port-prediction-heading h5 .caption {
    text-indent: 0;
    position: relative;
    top: 2px;
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 300;
    color:#999;
} 
#port-prediction-heading h5 .arrow {
    display: block;
    position: absolute;
    left: -26px;
    top: 20px;
    color: #00CE00;
    width: 22px;
    height: 16px;
    text-align: center;
}
#port-prediction-heading .map-icon-xl {
  position: absolute;
  left: -26px;
}

.port-prediction-lists {
}
.port-prediction-lists > ul {
    padding:0 0 0 27px;
    margin:0 0 10px;
}
.port-prediction-lists li span {
    cursor:pointer;
}
.port-prediction-lists li > span > span.caption {
    text-indent: 23px;
    position: relative;
    top: -2px;
    opacity: 0.9;
    font-size: 0.8rem;
    font-weight: 300;
    display: block;
    color:#999;
}
.port-prediction-lists li > span > span.caption.view_audit_trail {
    top: -3px;
}
.port-prediction-lists li.port-prediction-child > span > span.caption.view_audit_trail {
    color: #AAD3DF;
}
.port-prediction-lists li {
    position:relative;
    display:none;
    color: #999;
}
.port-prediction-lists li span:first-child::before {
  display:inline-block;
  margin: 0 5px 0 0;
  position:static;
  background: var(--color-port);
  color:#fff;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;

  /*
    icomoon icon (copy from /static/css/icomoon/style.css)
  */
  content: "\e900";
  font-family: 'icomoon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.port-prediction-lists > ul > li span:first-child::after,
.port-prediction-lists > ul > li > ul > li span:first-child::after,
.port-prediction-lists > ul > li > ul > li > ul > li span:first-child::after {
    content: "↳";
    display: inline-block;
    position:absolute;
    left: -17px;
    top: 2px;
}

.port-prediction-lists li.port-prediction-enabled {
    display:block;
}

.port-prediction-lists li.port-prediction-first {
    color: #00CE00;
}
.port-prediction-lists li.port-prediction-first span:first-child::before,
.port-prediction-lists li li.port-prediction-first span:first-child::before,
.port-prediction-lists li li li.port-prediction-first span:first-child::before,
.port-prediction-lists li li li li.port-prediction-first span:first-child::before {
    content: "1";
    background: #00CE00;
    color: #fff;
    font-family:verdana, sans-serif;
    font-weight:bold;
}
.port-prediction-lists li.port-prediction-second {
    color: hsl(48, 100%, 42%);
}
.port-prediction-lists li.port-prediction-second span:first-child::before,
.port-prediction-lists li li.port-prediction-second span:first-child::before,
.port-prediction-lists li li li.port-prediction-second span:first-child::before,
.port-prediction-lists li li li li.port-prediction-second span:first-child::before {
    content: "2";
    background: #f7cf02;
    color: #fff;
    font-family:verdana, sans-serif;
    font-weight:bold;
}
.port-prediction-lists li.port-prediction-third {
    color: #e96e67;
}
.port-prediction-lists li.port-prediction-third span:first-child::before,
.port-prediction-lists li li.port-prediction-third span:first-child::before,
.port-prediction-lists li li li.port-prediction-third span:first-child::before,
.port-prediction-lists li li li li.port-prediction-third span:first-child::before {
    content: "3";
    background: #e96e67;
    color: #fff;
    font-family:verdana, sans-serif;
    font-weight:bold;
}