/* ---------------------------------------------------
    LEFT COLUMN STYLE
----------------------------------------------------- */

/*
    CONTAINER
*/
#leftColumn {
    position: relative;
    z-index: 9;
    width: auto;
    min-width: 0;
    max-width: 100%;
    transition: margin-left 0.4s ease;
    overflow: auto;
    box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.5);
    background: #222a2d;
    height:100%;
    display:flex;
    flex-direction:column;
    color: #fff;
}
.leftSection {
    position:relative;
    width:222px;
    overflow: auto;
    border:none;
    padding: 0;
    overflow-x: hidden;
}
.leftSection .leftHeading {
    padding: 10px 10px 5px 10px;
}
.leftSection:not(.isExpanded) .leftHeading {
    cursor:pointer;
}
.leftSection .leftContentPadding {
    padding: 5px 10px 0 10px;
    position: relative;
    background:#222a2d; /* to cover up that pesky <hr />, which is necessary, btw, and can't be done with a simple css border */
}
.leftSection h2 {
    position:relative;
    color:#fff;
    margin: 0 -1px;
}
.leftSection h2[onclick] {
    cursor:pointer;
}

/* this <hr /> tag is necessary, because it is outside the .leftSection, so is not constrained to .leftSection's width */
.leftSection + hr { 
    display:none;
    margin:0;
}
.leftSection.isEnabled + hr {
    display: block;
    width: 100%;
    height: 1px;
    border-color: #666;
}
.leftSection:last-child + hr {
    display:none;
}

.leftSection .x {
    opacity: 0;
    position: absolute;
    top: 7px;
    right: 4px;
    box-shadow: none;
}
/*
    accordion ~ height
*/
.leftSection {
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.5s, width 0.5s;
}
.leftSection .leftHeading {
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.5s, width 0.5s;
}
.leftSection .leftContent {
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.5s, width 0.5s;
}
.leftSection.isEnabled {
    max-height: 46px;
    min-height: 46px;
}
.leftSection.isEnabled .leftHeading {
    max-height: 46px;
    min-height: 46px;
}
.leftSection.isExpanded {
    overflow:auto;
    max-height: 100%;
}
.leftSection.isExpanded .leftContent {
    overflow:auto;
    overflow-x: hidden;
    max-height:calc(100% - 46px);
}
.leftSection.isExpanded .x {
    opacity: 1;
}
/*
    accordion ~ width
*/
#leftSection-ship.isExpanded,
#leftSection-port.isExpanded {
    min-width: 280px;
}
#leftSection-predictions.isExpanded {
    min-width: 350px;
}
#leftSection-portPrediction.isExpanded {
    min-width: 280px;
}
#leftSection-metrics.isExpanded {
    min-width: 450px;
}
#leftSection-search:not(.isExpanded) h2 {
    padding-left: 16px;
    transition: padding-left 0.5s, margin-left 0.5s;
}
#leftSection-search:not(.isExpanded) h2::before {
    content: "";
    display: block;
    height: 10px;
    width: 1px;
    background: #fff;
    position: absolute;
    left: 3px;
    top: 4px;
    transform: rotate(40deg);
    text-shadow: 0 0 1px #fff;
}
#leftSection-search:not(.isExpanded) h2::after {
    content: "";
    display: block;
    height: 10px;
    width: 1px;
    background: #fff;
    position: absolute;
    left: 3px;
    top: 11px;
    transform: rotate(-40deg);
    text-shadow: 0 0 1px #fff;
}


/*
    INDIVIDUAL ELEMENTS: h2, h3, h4, button, input, etc...
*/
.leftSection h2 {
    margin: 0 0 10px -1px;
    color: #8a8e98;
    padding: 2px 0 4px;
    font-size: 21px;
    font-weight: 300;
}
.leftSection h3 {
    position: relative;
    margin: 0;
    padding: 0 0 12px 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}
.leftSection h3 a {
    pointer-events: all;
    text-decoration: underline;
}
.leftSection h3 a:hover {
    color: #fff;
}
.leftSection h3 img {
    margin: -4px 0 0 0;
}
.leftSection h3 label {
    display: block;
    padding: 0px 0 0 28px;
    color: #8a8e98;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: normal;
    position: relative;
    top: -2px;
}
#leftSection-predictions .leftContent {
    margin-top: -8px;
}
#leftSection-ship h3 {
    color:var(--color-ship);
}
#leftSection-ship button.bl._show,
#leftSection-ship button {
    background:var(--color-ship);
}
#leftSection-port button.bl._show,
#leftSection-port button {
    background:var(--color-port);
}
#leftSection-port h3 {
    color:var(--color-port);
}
#leftSection-port button {
    background:var(--color-port);
}
[id^="leftSection"] button.bl._hide {
    background:#999 !important;
}

/*
    INFO, INPUTS, BUTTONS
*/
.inputs {
    position:relative;
    margin: 3px 0 0;
    padding: 0 0 2px;
    overflow: auto;
}
.inputs.disabled,
.buttons.disabled {
    opacity:0.5;
    pointer-events:none;
}
.buttons::before {
    content: " ";
    position: absolute;
    right: 0;
    top: -10px;
    width: 100%;
    height: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, hsla(210, 4%, 23%, 0) 50%, hsla(210, 4%, 11%, 1) 100%);
}
.infos {
    /*margin: 4px 0 6px;*/
    padding: 0 0 4px;
    overflow: auto;
}
.infos p {
    position: relative;
    display:flex;
    /*margin: 8px 0 13px 0;*/
    margin:8px 0 31px 0;
}
.infos p label {
    margin-right: 3px;
    vertical-align: middle;
    line-height: 1rem;
    white-space:nowrap;
}
.infos p span.spacer {
    flex-grow:1;
    border-bottom: dotted 1px #666;
    min-width:10px;
    height: 0.88rem;
    vertical-align:middle;
    visibility: hidden;
}
.infos p span.value {
    vertical-align: bottom;
    line-height: 1rem;
    text-align:right;
    white-space:nowrap;
    position: absolute;
    left: 1px;
    top: 18px;
}
.inputs input {
    border-radius: 4px;
    width: 100%;
    color: #666;
    border:none;
    padding:3px 10px;
}
.inputs > * {
    margin-bottom: 2px;
}
.infoSection label {
     padding: 0 6px 0 1px;
     font-weight: 500;
     color:#999;
}

/*
    SEARCH
*/
.searchSection {
    padding: 1px 0 14px;
}
@media screen and (max-height: 600px) {
    .searchSection {
        padding: 0 0 8px;
    }
}
.searchSection .buttons {
    position: relative;
    margin: 0 0 10px;
    display: flex;
}
.searchSection .buttons button {
    width: auto;
    border: none;
    margin: 0 5px 0 0;
}
.searchSection .buttons button:first-child {
    flex-grow: 1;
}
.searchSection .buttons button:last-child {
    margin-right: 0;
}
.searchSection .inputs {
    max-height: calc((100vh / 2) - 9rem);
}

/*
    PAST JOURNEYS SECTION
*/
.show-pastJourneys #data-container {
    padding-top:10px;
    margin-top:10px;
    border-top: dotted 1px #666;
}
.show-pastJourneys #pagination-container {
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom: dotted 1px #666;
}

/*
    SHADOWBOX INFO SECTIONS
*/
.shadowBox {
    position: relative;
    background: hsla(205, 10%, 90%, 0.1);
    box-shadow: 0px 1px 3px -1px black;
    border-radius: 4px;
    padding: 11px 10px 13px;
    margin: 22px 0;
}
.shadowBox p {
    margin: 3px 0;
}
.shadowBox h3 {
    padding:0 0 9px;
}
.shadowBox h5 {
    margin: 0 0 9px 0;
    position:relative;
    cursor:pointer;
}
.shadowBox h5 .img {
    margin: 0px 2px 0 0;
    height: 19px;
    position: relative;
    top: -2px;
}
.shadowBox h5 .caption {
    text-indent: 25px;
    position: relative;
    top: -3px;
    opacity: 0.9;
    font-size: 0.8rem;
    font-weight: 300;
} 
.shadowBox h5 .arrow {
    display: block;
    position: absolute;
    left: 0;
    top: 25px;
    color: #00CE00;
    width: 19px;
    height: 16px;
    text-align: center;
}
.shadowBox input {
    padding: 2px 6px 3px 8px;
    margin: 1px 0 5px;
}
.shadowBox label {
    margin-left:0;
}
.shadowBox button {
    margin-top:2px;
}

/*
    SHIP FORMS
*/
.ship-controls {
    margin: 0 0 22px 0;
}
.ship-controls .ship-control .buttons {
    margin: 0 0 10px;
    opacity:0.85;
}
.ship-controls .ship-control .buttons button {
    min-width: 100%;
    display:block;
}

/*
    INFO SECTION key...value lines FOR PORT/SHIP INFO
*/
.infoSection {
    padding-bottom: 15px;
}
.infoSection label {
     padding: 0 6px 0 1px;
     font-weight: 500;
     color:#999;
}

/*
    PORT METRICS
*/
#leftSection-metrics .js-plotly-plot {
    background:#fff;
    border-radius: 3px;
    margin: 0 0 30px;
    padding: 10px 0 5px;
}

/*
    TOGGLE SECTION
*/
#leftSection-toggle h3 {
    display: flex;
    align-items: baseline;
    padding-bottom: 1rem;
}
#leftSection-toggle h3 span.title {
    flex-grow: 1;
    padding-left: 0.5rem;
}
#leftSection-toggle .toggleSwitch label:before {
    visibility:hidden;
    opacity:0;
}