.toggleSwitch {
  position:relative; /* it's OK to over-ride this and make it absolute - then position it */
}
.toggleSwitch label {
  position: relative;
  display: block;
  height: 16px;
  width: 40px;
  background: #8a8e98;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  /*filter:grayscale(100%);*/
}
.toggleSwitch label:before {
    content: "enable:";
    position: relative;
    top: -20px;
    left: -48px;
    width: 60px;
    display: inline-block;
    font-size: 1rem;
    text-align: right;
    color:#8a8e98;
    /*opacity: 0.5;*/
}
.toggleSwitch label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
  content: '';
  transition: all 0.3s ease;
  background: #fff;
}
.toggleSwitch label:active:after {
  transform: scale(1.15, 0.85);
}

.toggleSwitch input[type="checkbox"]:checked ~ label {
  /*filter:grayscale(0%);*/
  background:hsla(200, 63%, 62%, 0.5);
}
.toggleSwitch input[type="checkbox"]:checked ~ label:before {
  content: "";
}
.toggleSwitch input[type="checkbox"]:checked ~ label:after {
  left: 20px;
  background: hsla(200, 63%, 62%, 1);
}

.toggleSwitch.color-ship input[type="checkbox"]:checked ~ label {
  background: hsla(120, 75%, 50%, 0.5);
}
.toggleSwitch.color-port input[type="checkbox"]:checked ~ label {
  background: hsla(33, 100%, 50%, 0.5);
}

.toggleSwitch.color-ship input[type="checkbox"]:checked ~ label:after {
  background: hsl(120, 100%, 40%);
}
.toggleSwitch.color-port input[type="checkbox"]:checked ~ label:after {
  background: hsl(33, 100%, 50%);
}

/*.toggleSwitch input[type="checkbox"]:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.toggleSwitch input[type="checkbox"]:disabled ~ label:after {
  background: #bcbdbc;
}*/

.toggleSwitch input[type="checkbox"] {
  display: none;
}

