.ValidateForm.invalid {
	border-bottom-color:red;
}


.ValidateField.invalid {
	input,
	select,
	checkbox,
	radio,
	textarea {
		border-bottom-color:red;
	}
}

.ValidateButton.disable {
	opacity:0.5;
	* {
		pointer-events:none;
	}
}

